body {
    font-family: Public Sans, sans-serif;
    font-weight: 400;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
}

.logo {
    display: flex;
    align-items: center;

}

.logo h1 {
    font-size: 20px;
    margin-left: 5px;
    font-weight: 800;

}

.menu {
    display: flex;
    align-items: center;

}

.menu li a {
    padding: 10px 5px;
    transition: 0.3s ease-in-out;
    margin: 15px;


}

.menu li a:hover {
    background-color: #5BC241;
    color: #ffffff;
}

.menu li a.btn {
    color: #ffffff;
    background-color: #5BC241;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 20px;
}

@media(max-width: 878px) {
    .header {
        flex-direction: column;
    }

    .logo h1 {
        font-size: 40px;
    }

    .menu {
        flex-direction: column;
        margin-top: 50px;
    }

    .menu li {
        padding: 33px 0;
    }

    .menu li:last-child {
        margin-top: 20px;
    }

    .menu li a {
        padding: 17px 40px;
        font-size: 40px;
    }

    .menu li a.btn {
        font-size: 18px;
        padding: 15px 23px;
    }


}